#seccionCards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;  /*ancho de fracciones segun # columnas*/
    grid-template-rows: 300px 300px 300px 300px;  /*alto segun filas*/
    grid-gap: 0px; /*espacio entre celdas*/
    align-items: center;
    justify-items: center;
}




/* width: 85vw; el 85% del ancho de la pantalla para cualquier dispositivo */
/* display:  grid;  Me divide los elementos de un contenedor en pequeños contenedores */
/* grid-gap: 20px;  Espacio entre cada tarjeta */
/* body{
    margin: 0;
    padding:0;
}

.contenedorMain{
    background-color: blueviolet;
    display: flex;
    width: 100vw;
    height: 85vh;
    margin: auto;

}
.opcionesCards{
    background-color: rgb(196, 38, 205);
    width: 22vw;
    height: auto;
}
.ContCards{
    box-sizing: content-box;
    background-color: aquamarine;
    width: 80vw;
    height: 70vh;
    display: flex;  
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    justify-content: left;
    overflow-y: scroll;
    margin-top: 50px;

}
.cards{
    display: flex;
    flex-direction: column;
    background-color: aqua;
    border: 1px solid gray;
    border-radius: 3%;
    padding: 5px;
    cursor: pointer;
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: trasform 0.25s ease-out;
    width: 325px;
    height: 65vh;
}
.cards img{
    border-radius: 2%;
}

.cards:hover{
    transform: scale(1.01);
}
.cards img{
    display: flex;
    width: auto;
    aspect-ratio: 1/1;
    overflow: hidden;
}
.cards p{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    padding: 4px;
    display: flex;
    justify-content: center;
} */
/* footer{
    background-color: blue;
    width: 95vw;
    height: 15vh;
    margin: 0px auto;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    padding: 5px 2px 2px 2px;
} */